.navbar-brand {
}

span {
  padding: 5px;
  margin: 10px;
  margin-bottom: 10px;
  margin-right: 0px;
  margin-top: 0px;
  border-width: 0px;
  padding-bottom: 5px;
}

#sendMessageButton {
}

body {
}

body {
}

